<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite"
				 type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <!--Server mode-->
    <add name="SQLiteEventStore" providerName="System.Data.SQLite"
     connectionString="Data Source=EventStore.sqlite;Version=3;New=True;Enlist=N;"  />
  </connectionStrings>
</configuration>