<?xml version="1.0"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="file" xsi:type="File" layout="${longdate} ${logger} ${message}"
            fileName="C:\logs\${shortdate}-logfile.txt" keepFileOpen="false" encoding="iso-8859-2" />

    <target xsi:type="Console" name="console" layout="${longdate} ${logger} ${message}" error="true" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>