<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">JQuery Demo</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>
                    Click the button to do a get:</h1>
                <h2>
                    <input class="clickmeget" value="Click!" type="button" />
                </h2>
            </hgroup>

            <hgroup class="title">
                <h1>
                    Click the button to do a post:</h1>
                <h2>
                    <input class="clickmepost" value="Click!" type="button" />
                </h2>
            </hgroup>
            
            <hgroup class="title">
                <h1>
                    Click the button to do a post and to show off closures:</h1>
                <h2>
                    <input class="clickmepostandclosure" value="Click!" type="button" />
                </h2>
            </hgroup>
            
            <hgroup class="title">
                <h1>
                    Click the button to do a post and to show function pointers:</h1>
                <h2>
                    <input class="clickmepostandclosure2" value="Click!" type="button" />
                </h2>
            </hgroup>

        </div>
    </section>
</div>
